body {
  background: #fff59f;
  font-family: "JetBrains Mono", monospace;
}

:root {
  --bslib-sidebar-main-bg: transparent;
}

.popover {
  --bs-popover-header-bg: #222;
  --bs-popover-header-color: #fff;
}

.popover .btn-close {
  filter: var(--bs-btn-close-white-filter);
}

.incompleted_table_rows:hover td {
  background-color: #fff59f;
}

.incompleted_table_rows:hover {
  outline: 4px solid #000;
}

.panel-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  /* border-radius: 1rem; */
  box-sizing: border-box;
  border: 4px solid #000;
  /* background: rgb(242, 242, 247); */
  background: #a5b4fb;
  box-shadow: 4px 5px 0 1px #000;
}

.reset_all_button {
  width: 100%;
  text-align: center;
  border: red 1px solid;
  color: red;
}

.reset_all_button:hover {
  background-color: red;
  color: white;
  border: red 1px solid;
}

.incomplete_products_with_alike_products_listing,
.incomplete_products_without_alike_products_listing,
.newly_added_products_listing,
.comparison_table {
  background: white;
  padding: 1.5rem;
  /* border-radius: 1rem; */
  border: 4px solid #000;
  box-shadow: 4px 5px 0 1px #000;
}

.alike_product_checkbox {
  height: 30px;
  width: 30px;
}

.button {
  position: relative;
  background: transparent;
  padding: 1rem;
  /* border-radius: 1rem; */
  border: 4px solid #000;
  box-shadow: 4px 5px 0 1px #000;
  width: fit-content;
  z-index: 1;
  transition: color 0.5s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E8B3C0;
  z-index: -1;
}

.button::after {
  color: white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right, 
    #1C76F4 0%, 
    #A241F7 25%, 
    #E93489 50%, 
    #F32B3E 75%, 
    #F48B2F 100%
  );
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.button:hover::after {
  opacity: 1;
}

.recently_clicked {
  text-decoration: underline;
  cursor: pointer;
  color: black;
  display: inline-block;
  transition: transform 0.3s ease;
}

.recently_clicked:hover {
  text-decoration: underline;
  background: linear-gradient(
    to right, 
    #1C76F4 0%, 
    #A241F7 25%, 
    #E93489 50%, 
    #F32B3E 75%, 
    #F48B2F 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.link_and_compare_button_container {
  display: flex;
  flex-direction: row;
  gap: .25rem;
  justify-content: center;
  width: 10rem;
  padding:.25rem 1rem;
  border: 0 !important;
}

.link_and_compare_button {
  background-color: #a5b4fb;
  padding: 5px 2px;
  border: 4px solid #000;
}