body {
  background: #fff59f;
  font-family: "JetBrains Mono", monospace;
}

:root {
  --bslib-sidebar-main-bg: transparent;
}

.popover {
  --bs-popover-header-bg: #222;
  --bs-popover-header-color: #fff;
}

.popover .btn-close {
  filter: var(--bs-btn-close-white-filter);
}

.incompleted_table_rows:hover td {
  background-color: #fff59f;
}

.incompleted_table_rows:hover {
  outline: 4px solid #000;
}

.panel-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  /* border-radius: 1rem; */
  box-sizing: border-box;
  border: 4px solid #000;
  /* background: rgb(242, 242, 247); */
  background: #a5b4fb;
  box-shadow: 4px 5px 0 1px #000;
}

.reset_all_button {
  width: 100%;
  text-align: center;
  border: red 1px solid;
  color: red;
}

.reset_all_button:hover {
  background-color: red;
  color: white;
  border: red 1px solid;
}

.incomplete_products_with_alike_products_listing,
.incomplete_products_without_alike_products_listing,
.newly_added_products_listing,
.comparison_table {
  background: white;
  padding: 1.5rem;
  /* border-radius: 1rem; */
  border: 4px solid #000;
  box-shadow: 4px 5px 0 1px #000;
}

.alike_product_checkbox {
  height: 30px;
  width: 30px;
}

.button {
  background: #fff59f;
  padding: 1rem;
  /* border-radius: 1rem; */
  border: 4px solid #000;
  box-shadow: 4px 5px 0 1px #000;
}

.link_and_compare_button_container {
  display: flex;
  flex-direction: row;
  gap: .25rem;
  justify-content: center;
  width: 10rem;
  padding:.25rem 1rem;
  border: 0 !important;
}

.link_and_compare_button {
  background-color: #a5b4fb;
  padding: 5px 2px;
  border: 4px solid #000;
}